[Unit]
Description=Csphere Product
Documentation=https://csphere.cn/
After=docker.service
Requires=docker.socket network.target

[Service]
Environment=ROLE=tobefilled
Environment=AUTH_KEY=tobefilled
Environment=DEBUG=tobefilled
Environment=CONTROLLER_ADDR=tobefilled
EnvironmentFile=-/run/csphere.env
LimitNOFILE=1048576
LimitNPROC=1048576
ExecStart=/usr/bin/csphere-init -inherit-env 

[Install]
WantedBy=multi-user.target
