[Unit]
Description=Csphere Etcd2 Service
After=systemd-networkd-wait-online.service

[Service]
User=root
EnvironmentFile=/etc/csphere/csphere-public.env
EnvironmentFile=/etc/csphere/csphere-etcd2-agent.env
ExecStartPre=/bin/sleep 5s
ExecStart=/bin/etcd2
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
