[Unit]
Description=Csphere Prepare Work
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service
Before=ntpd.service

[Service]
User=root
Type=oneshot
ExecStart=/etc/csphere/csphere-prepare.bash

[Install]
WantedBy=multi-user.target
