[Unit]
Description=Csphere Prepare Work
After=systemd-networkd-wait-online.service network-online.target
Wants=systemd-networkd-wait-online.service network-online.target

[Service]
User=root
Type=oneshot
ExecStart=/etc/csphere/csphere-prepare.bash

[Install]
WantedBy=multi-user.target
