[Unit]
Description=Csphere Etcd2 Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service
After=csphere-prepare.service

[Service]
User=root
EnvironmentFile=/etc/csphere/csphere-public.env
EnvironmentFile=/etc/csphere/csphere-etcd2-controller.env
ExecStart=/bin/etcd2
ExecStartPost=/bin/sleep 3s
ExecStartPost=/usr/bin/curl -XPUT http://127.0.0.1:2379/v2/keys/discovery/hellocsphere/_config/size -d value=${COS_CLUSTER_SIZE}
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
