[Unit]
Description=Csphere Agent Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service 
After=csphere-prepare.service
# only effective on cos controller
After=csphere-controller.service
# only effective on cos agent
After=csphere-etcd2-agent.service
After=csphere-dockeripam.service
After=csphere-docker-agent.service

[Service]
EnvironmentFile=/etc/csphere/csphere-public.env
EnvironmentFile=/etc/csphere/csphere-agent.env
User=root
ExecStartPre=/bin/sleep 3s
ExecStart=/bin/csphere --tls join
ExecStartPost=/bin/sleep 3s
ExecStartPost=/etc/csphere/csphere-agent-after.bash
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
